{% extends 'inkwell/base.html' %}

{% block title %}
 - Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-form">
        <h1> Login </h1>
        <form method="post" class="from-group">
            {% csrf_token %}
            {{form|crispy}}
            <p class="auth-link">Don't have an accoount? <a href="/register" class="click-here" aria-label="Click here to register"> Register here</a></p>
            <button aria-label="Login Button" type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}
