<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>InkWell {% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'inkwell/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'inkwell/forms-style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-items">
            <img id="logo-img" src="{% static 'inkwell/inkwell-logo.png' %}" class="logo" alt="Inkwell Logo">
            <div class="inner-header-items">
                {% if user.is_authenticated %}
                    <h3>{{ user.username }}</h3>
                    <a href="/logout" class="logout new-entry-btn">Logout</a>
                {% endif %}
                <button class="new-entry-btn mode" onclick="toggleDarkMode()">
                    <i class="fas fa-sun light-icon"></i> <!-- Font Awesome light icon -->
                    <i class="fas fa-moon dark-icon"></i> <!-- Font Awesome dark icon -->
                </button>
            </div>
        </div>        
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    </footer>
    
    <script>
        function toggleDarkMode() {
            const body = document.body;
            body.classList.toggle("light-mode");
            const button = document.querySelector(".new-entry-btn.mode");
            const logoImg = document.getElementById("logo-img");
            if (body.classList.contains("light-mode")) {
                logoImg.src = "{% static 'inkwell/inkwell-logo-light.png' %}";
                button.querySelector(".light-icon").style.display = "inline-block";
                button.querySelector(".dark-icon").style.display = "none";
            } else {
                logoImg.src = "{% static 'inkwell/inkwell-logo.png' %}";
                button.querySelector(".light-icon").style.display = "none";
                button.querySelector(".dark-icon").style.display = "inline-block";
            }
        }
    </script>
</body>
</html>
