{% extends 'base.html' %}

{% block content %}
    <h1>My Journal Entries</h1>
    <div id="journal-entries">
        <a href="#" class="del-btn">+ New</a>
        {% for entry in entries %}
            <div class="journal-entry" data-entry-id="{{ entry.id }}">
                <input type="text" class="entry-title" placeholder="Untitled" value="{{ entry.title }}">
                <textarea class="entry-content" placeholder="Add entry...">{{ entry.content }}</textarea>
                <a href="{% url 'delete_journal_entry' pk=entry.id%}" class="del-btn"><i class="fas fa-trash-alt"></i></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
