/* Center the form horizontally and vertically */
.centered-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Set the width of the form elements to span the container width */
.centered-form form .form-control {
    width: 100%;
    background-color: transparent;
    color: white;
    outline: none;
}

.centered-form form .form-control:focus {
    /* background-color: white; */
    border: 1px white solid;
}

/* Make the button span the container width */
.centered-form form .btn-success {
    width: 100%;
}

.form-group {
    width: 359px;
}

/* Custom styles for btn-success */
.btn-success {
    color: rgb(96, 96, 96);
    border: 1px solid rgb(96, 96, 96);
    background-color: transparent;
    transition: background-color 0.2s;
    cursor: pointer;
    height: 45px;
    padding: 5px;
    font-weight: 400;
}

/* On hover, change the background to slight grey */
.btn-success:hover {
    background-color: rgb(38, 38, 38);
    color: white;
    /* Slight grey color */
}

.auth-link {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.click-here {
    text-decoration: underline;
    color: rgb(96, 96, 96);
}

.click-here:hover {
    text-decoration: underline;
    color: white;
}

/* Style the login form fields */
.centered-form form .form-control {
    width: 96%;
    border-radius: 5px;
    height: 2rem;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid rgb(96, 96, 96);
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

ul {
    margin-top: 0;
    margin-bottom: 20px;
    list-style: square;
    padding-left: 20px;
}

small {
    color: rgb(150, 150, 150);
}

label {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

#div_id_username,
#div_id_email,
#div_id_password1,
#div_id_password2 {
    /* border: 1px solid red; */
    margin: 20px 0;
}