body {
    font-family: 'Inter', sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 1rem;
    padding: 1rem;
}

h1 {
    margin: 20px 0;
    color: #fff;
    font-weight: 700;
}

img {
    width: 200px;
}

.content {
    margin: 20px;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.inner-header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header-items h3 {
    border-right: 3px solid rgb(150, 150, 150);
    border-left: 3px solid rgb(150, 150, 150);
    padding-right: 20px;
    padding-left: 20px;
}

#journal-entries {
    margin-bottom: 20px;
}

.journal-entry {
    border-bottom: 1px solid #444;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.entry-fields {
    flex-grow: 1;
}

.journal-entry:last-child {
    border-bottom: none;
}

.entry-title,
.entry-content {
    outline: none;
    word-wrap: break-word;
    color: #f0f0f0;
    background: none;
    border: none;
    border: none;
    padding: 5px;
    width: 100%;
    resize: none;
}

.entry-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.entry-content {
    font-size: 16px;
    line-height: 1.6;
    min-height: 30px;
    font-family: 'Inter', sans-serif;

}

hr {
    border: none;
    border-top: 1px solid #444;
    margin: 10px 0;
}

.del-btn,
.new-entry-btn {
    color: rgb(96, 96, 96);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.del-btn:hover,
.new-entry-btn:hover {
    background-color: rgb(38, 38, 38);
}