{% extends "inkwell/base.html" %}

{% block title %} - Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="centered-form">

		<h1> Sign Up </h1>
		<form method="POST" class="form-group">
			{% csrf_token %}
			{{ form|crispy }}
            <p class="auth-link">Already have an accoount? <a href="/login" class="click-here" aria-label="Click here to login"> Login here</a></p>
			<button aria-label="Register Button" type="submit" class="btn btn-success">Register</button>
		</form>

	</div>
{% endblock %}